%div.headline
  %p.success Successfully authenticated with Evernote.
  %p Now, please allow us to view your Github repositories,
%form{action: "/login/github"}
  %button.authorizeGithub{type: "submit"}
    Log in to GitHub
