.githubSuccess
  %div.headline
    %p.success Successfully logged in to GitHub.
  %form
    .sectionTitle
      Please enter the GitHub username and repository you would like to connect to
    .githubInfo
      = text_field_tag :github, nil, placeholder: "Format: <user>/<repository>"
      %button.connect{type: "submit"}
        Connect


