.githubSuccess
  .headline
    %p.success Successfully authenticated with GitHub.
  = form_tag synchronizations_path, method: :post do |f|
    .sectionTitle
      Please enter the GitHub username and repository you would like to synchronize
    .userInfo
      = text_field_tag :repo_name, nil, placeholder: "<user>/<repository>"
    .sectionTitle
      Please enter the name of the notebook you would like to synchronize
    .userInfo
      = text_field_tag :notebook_name, nil, placeholder: "Notebook name"
    .sectionTitle
      Finally, add this webhook to your GitHub Repository (Settings &gt; Webhooks &amp; services &gt; Add webhook)
    .userInfo
      .webhook
        http://ghenio.herokuapp.com/webhooks/github/
    %button.connect{type: "submit"}
      Synchronize!

