%div.headline
  %p.success You've successfully signed into Ghenio!
  %p Now, please allow us to access Evernote,
%form{action: "/login/evernote"}
  %button.authorizeEvernote{type: "submit"}
    Log in to Evernote
