.statusSection
  .headline
    %p.success
      Evernote <-> GitHub Connection Status

  .statusMessage
    You are currently:
    - if @connected
      %span.status.green
        connected
    - else
      %span.status.red
        disconnected

  .synchronizations
    Synchronizations:
    %table.synchroTable
      %tr.firstRow
        %td
          GitHub Repo
        %td
          Notebook Name
      - @synchros.each do |synchro|
        %tr
          %td
            = synchro.repo.name
          %td
            = synchro.notebook.name

  .connectButton
    - if @connected
      %form{action: "/login/disconnect"}
        %button.disconnect{type: "submit"}
          Disconnect
    - else
      %form{action: "/login/evernote"}
        %button.authorizeEvernote{type: "submit"}
          Reconnect





