.statusSection
  .headline
    %p.success
      Evernote <-> GitHub Connection Status

  .statusMessage
    You are currently:
    - if @connected
      %span.status.green
        connected
    - else
      %span.status.red
        disconnected

  .connectButton
    - if @connected
      %form{action: "/login/disconnect"}
        %button.disconnect{type: "submit"}
          Disconnect
    - else
      %form{action: "/login/evernote"}
        %button.authorizeEvernote{type: "submit"}
          Reconnect





